
<div class="container">
    <h1>ようこそ　WMRecipesへ！！</h1><br>
    <h2>概要</h2>
    <p>このサイトは、業務スーパーで購入できる食材をメインに使って作った料理のレシピを投稿するサイトです。</p>
    <p>できれば全て業務スーパーのみで購入した食材であることが望ましいですが、そのあたりの匙加減は使われる皆様におまかせします。</p>
    <p>ちなみにWMRecipesの名前の由来は「Wholesale Market」（業務スーパーの意訳）の頭文字にRecipeを足したものです。</p>

    <h2>こんな方にはぜひ使って欲しい</h2>
    <li>料理が好き！</li>
    <li>買い物は極力業務スーパーのみで済ませたいが、料理のレパートリーを増やしたい！</li>
    <li>業務スーパーで買った食材・商品の思いもよらぬ使い方を見つけてしまって共有したい！</li>
    <br>
    <p>余談ですが、サイトの製作者はパスタが得意ですが他のジャンルはからっきしです。皆様の知恵をレシピ投稿という形でお貸しいただけるととても喜びます。</p>


    <h2>注意点</h2>
    <p>Web開発の経験が浅い身の人間が作ったものであるため、ユーザー登録の際には特定されても問題のないメールアドレスを登録してください。</p>
    <p>パスワード忘れのメールが届かなくても問題ない方は適当なアドレスで結構です。</p>
</div>